@using SnakeBlz.Components

<div class="d-flex justify-content-center">
    <h2>SnakeBlz <img src=/icon-192.png height="75" width="75"/></h2>
</div>

<div class="container d-flex justify-content-center">
    <div class="gameboard">

        @for (int x = 1; x <= GameboardSize; x++)
        {
            for (int y = 1; y <= GameboardSize; y++)
            {
                <CellComponent @ref="SetComponentRef" X="x" Y="y"></CellComponent>                  
            }
        }

    </div>
</div>