@page "/"
@using Domain;
@inject IJSRuntime JSRuntime

<audio id="consumePellet" src="../sounds/ConsumePellet.mp3"/>
<audio id="gameOver" src="../sounds/GameOver.mp3"/>

<div class="container">
    <div class="row col-lg-12 text-center">
        <h2>SnakeBlz <img src=/icon-192.png height="75" width="75"/></h2>
    </div>
    <div class="row col-lg-12 text-center">
            <h2>Score: @Score</h2>
    </div>
</div>

<GameboardComponent SpawnPellet="@SpawnPellet" @ref="Gameboard"></GameboardComponent>

<div class="container">
    <div class="row col-lg-12 text-center mt-3">
        <h1>@Message</h1>
    </div>

    @if (GameState == Enums.GameState.PreGame || GameState == Enums.GameState.GameOver)
    {
        <div class="row col-lg-2 offset-lg-5 text-center mt-3">
            <button type="button" class="btn btn-secondary" @onclick="StartNewGame">Play</button>
        </div> 
    }
</div>