@page "/"

@if (!IsLoading)
{
   <div class="container" style="height: 100vh">
       
        <div class="vstack gap-2 col-md-4 mx-auto text-center">
            <h2>SnakeBlz <img src=/icon-192.png height="75" width="75"/></h2>
            <EditForm Model="SelectedOptions" OnValidSubmit="@HandleValidSubmit">

                <div class="form-group">
                    <label class="h5" for="gameMode">Game Mode</label>
                    <InputSelect @bind-Value="@SelectedOptions.SelectedGameMode" class="form-select" aria-label="Game mode select">
                        @foreach (var gameMode in GameModeOptions)
                        {
                            <option >@gameMode</option>
                        }
                    </InputSelect>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-secondary mt-4 d-sm-block">Play</button>
                </div>

            </EditForm>
        </div>

    </div> 
}
